/*
 * Structure.css
 *
 * This file contains all the styles which are applied on
 * various structural elements (mainly on articles)
 */

@font-face {
  font-family: 'OverpassRegular';
  src: url(overpass/Overpass-Regular.ttf)
}

@font-face {
  font-family: 'OverpassBlack';
  src: url(overpass/Overpass-Black.ttf)
}

@font-face {
  font-family: 'OverpassBold';
  src: url(overpass/Overpass-Bold.ttf)
}

@font-face {
  font-family: 'OverpassLightItalic';
  src: url(overpass/Overpass-LightItalic.ttf)
}

@font-face {
  font-family: 'OverpassBoldItalic';
  src: url(overpass/Overpass-BoldItalic.ttf)
}

#avatar {
  border-radius: 50%;
}

#esky-featured-image-gradient {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, center bottom, center center, from(#000000), to(#00000000));
  border-radius: 0.5rem;
}

body {
  font-size: 1rem;
  font-family: 'OverpassRegular';
}

strong {
  font-family: 'OverpassBold';
}

em {
  font-family: 'OverpassLightItalic';
}

strong em {
  font-family: 'OverpassBoldItalic';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'OverpassBlack';
}

#esky-post {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

h1.title, p.subtitle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

pre {
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: pre-wrap;       /* Since CSS 2.1 */
}

.post-tags {
  margin: 1rem auto;
}

.esky-author {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  position: static !important;
  padding: 5rem 2.5rem 5rem !important;
}

.esky-social-item {
  margin: 2px;
}

.post-meta {
  margin: 3rem 1rem;
  display: flex;
  flex-direction: row;
}

.esky-author {
  border-radius: 50% !important;
  display: flex;
  width: 6rem;
  height: 6rem;
}

.meta-mixed {
  display: inline-flex;
  flex-direction: column;
  margin-left: 1rem;
}

.meta-date, .meta-author{
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

hr {
  width: 15%;
  margin: 1.5rem auto;
}

.content p {
  word-wrap: break-word;
}

.content figure {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.content blockquote {
  margin-left: 0.2rem;
}

footer {
  width: 100%;
}

a img {
  border-radius: 0.5rem;
}

.esky-featured-image {
  height: 60%;
  width: 99%;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0.5rem auto;
}

.gallery-item {
  margin: 0.2rem;
  border-radius: 0.5rem;
}

.gallery-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-main {
  display: block;
  margin: 0.5rem auto;
  border-radius: 0.5rem;
  overflow: hidden;
  max-height: 35rem;
  width: auto;
}

.gallery-container {
  margin: 3rem auto;
  display: inline-table;
  text-align: center;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

ul {
  list-style: unset;
  margin-left: 3rem;
}

div.navbar-item .menu-item {
  list-style-type: none;
}

div.esky-featured-image h1.title {
  width: 100%;
  position: absolute;
  bottom: 5%;
  text-align: center;
}

p.title {
  text-align: center;
}

div.esky-featured-image p.subtitle {
  width: 100%;
  position: absolute;
  bottom: 3%;
  text-align: center;
}

img.alignright {
  float:right;
  margin:0 0 1em 1em;
}

img.alignleft {
  float:left;
  margin:0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a img.alignright {
  float:right; margin:0 0 1em 1em
}

a img.alignleft {
  float:left;
  margin:0 1em 1em 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2.screen-reader-text {
  display: none;
}

@media only screen and (max-width : 4096px) {
  #esky-post {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width : 2048px) {
  .gallery-container {
      width: 100%;
  }

  .gallery-item {
    width: 6.5rem;
    height: 6.5rem;
  }
}

@media only screen and (max-width : 1080px) {
  #esky-post {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gallery-item {
    width: 4rem;
    height: 4rem;
  }

  section {
    padding: 1rem;
  }
}

@media only screen and (max-width : 640px) {
  .esky-featured-image {
    height: 35%;
  }

  .gallery-item {
    width: 3rem;
    height: 3rem;
  }
}

.esky-yt-sc {
  margin: 1rem auto;
}